{% extends 'JhgStatusPageBundle::layout.html.twig' %}

{% block status_content %}
    <h1>Status page</h1>

    {% for metric in metrics %}
        <section class="metric">
            <header>
                <h2>{{ metric.title }}</h2>
            </header>

            <div class="metric-data">
                <div class="info">
                    {% if metric.type in ['request_count', 'response_count', 'guzzle_request_count', 'guzzle_response_count', 'custom', 'exception', 'readonly'] %}
                        <p>{{ metric.data|status_sum|round }} reqs</p>
                        <p>{{ metric.data|status_average|round }} req/minute</p>
                    {% elseif metric.average_by %}
                        <p>Average: {{ metric.data|status_average|round }} ms</p>
                    {% endif %}
                </div>
                <div class="graph">
                    <span class="line" style="display:none">{{ metric.data|join(',') }}</span>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock status_content %}

{% block status_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $.fn.peity.defaults.line = {
                delimiter: ",",
                fill: "#c6d9fd",
                height: 80,
                max: null,
                min: 0,
                stroke: "#4d89f9",
                strokeWidth: 1,
                width: 250
            }

            $(".line").show().peity("line");
        });
    </script>
{% endblock status_javascripts %}